.topo{
	padding: 10px 0;
	position: relative;
	background: #fff;
}

.banner-topo{
	background: #f0f0fb;
	padding-top: 10px;
	padding-bottom: 20px;
}
.banner-topo .img-destaque{
	max-width: 300px;
	border: 1px solid #202a65;
}
.cor-tema{
	color:#202a65;
}
.quem-somos{
	background: #202a65;
	color: #fff;
	padding: 10px 0px 10px;
}
.rodape{
	color: #fff;
	background: #000;
}

.picture{
	max-width: 300px;
	border-radius: 50%;
}